modules = ["dotnet-7.0", "web", "nodejs-20"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]
runButton = "Run Application"

[[workflows.workflow]]
name = "Run Application"
author = 44389234
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"
